<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p id="state">state</p>
        <p id="method">method</p>
        <p id="des">description</p>
    </div>
    <button type="button" onclick="loadJsonBy()">get 호출</button>
    <script>
        var xhttp = new XMLHttpRequest();
        xhttp.responseType = 'json'; // 받고자 하는 데이터의 타입을 설정

        function loadJsonBy() {
            xhttp.onreadystatechange = function() {
                if (this.readyState == 1 || this.readyState == 2 || this.readyState == 3 ){
                    document.getElementById("state").innerHTML = '로딩중...';
                }else if (this.readyState == 4 && (this.status == 200 || this.status == 201)) {
                    var data = this.response;  // response는 json 형태로 받아온다.
                    document.getElementById("method").innerHTML = data.method;
                    document.getElementById("des").innerHTML = data.des;
                }
            };
            xhttp.open("GET", "ajax3_result1", true);
            xhttp.send();
        }
    </script>
</body>
</html>