<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="default.css">
    <link rel="stylesheet" href="ui.css">
</head>
<body>
    <ul class="info-list">
        <li class="info-list-item">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam numquam aliquid maxime quisquam, voluptas eligendi dignissimos, quos quasi accusantium at suscipit deleniti veritatis odit iste ipsa ab eum pariatur possimus.
        </li>
        <li class="info-list-item">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam porro veritatis vel quibusdam cupiditate natus laudantium qui accusantium voluptatum cumque ipsa sapiente itaque totam, odio incidunt, quis officia harum sunt.
        </li>
        <li class="info-list-item">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Et impedit aut quas magni eligendi minus. Facilis incidunt eligendi temporibus, molestias quam excepturi molestiae obcaecati eum, voluptates distinctio maiores minima ad!
        </li>
    </ul>
</body>
</html>